<div style="width: 100%; height: 1px; background-color: black; margin-bottom: 10px;"></div>
<p>Create by Jesus Garcia Loyola, Emily Grimaldo-Castillo, Carlos Guizar, Gabe Gallagher</p>
<img src="/img/CSUMB-Round-Logo-for-Licensing-blue.jpg" width="100" height="100" alt="CSUMB Logo" style="float: center; margin-right: 10px;">
