
<nav>
    <a href="/">Home</a>
    <a href="/gamesearch">Search</a>
    <a href="/addgame"> Add Game</a>
    <a href="/studiomap">Studio Map</a>
    <a href="/updateDB">Update DB</a>
    <a href="/viewlist">View list</a>
</nav>

