
<nav>
    <a href='/home'>Home</a>
    <a href="/search">Search</a>
    <a href="/addgame"> Add Game</a>
    <a href="/studiomap">Studio Map</a>
    <!-- <a href="/updateDB">Update DB</a> -->
    <a href="/viewlist">View list</a>
</nav>

