<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Home</h1>
    </header>   
    <br>
    <div class="navbar mb-3">
        <%- include('partials/navbar') %>
    </div>
    <br>
    <p>write here</p>
    <br>
    <form action="/logout" method="POST">
        <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
    <%- include('partials/footer') %>
</body>
</html>
