<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Document</title>
</head>
<body class="body">
    <header>
        <h1>Sign Up</h1>
        <form method= "POST" action="/signin">
            <input type="text" name="username" value="Username"><br>
            <input type="text" name="password" value="Password"><br>
            <input type="text" name="email" value="Email ex: abc@gmail.com"><br>
            <input type="text" name="firstname" value="First Name"><br>
            <input type="text" name="lastname" value="Last Name"><br>
            <button>Submit</button>
        </form> 
    </header>
</body>
</html>